* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'monteseratt', sans-serif;
}

.app{
    background-image: url('./photos/sky.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    transition: 0.4 ease-out;
}

.app.cloud{
    background-image: url('./photos/cloud.jpg');
}

.app.rain{
    background-image: url('./photos/rain.jpg');
}

.app.clear{
    background-image: url('./photos/clear.jpg');
}

.app.snow{
    background-image: url('./photos/snow.jpg');
}

.app.thunderstorm{
    background-image: url('./photos/thunderstorm.jpg');
}

main {
    min-height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.75));
    padding: 25;
}

.search-box {
    width: 100%;
    margin: 0 0 75px;
}

.search-box .search-bar {
    display: block;
    width: 100%;
    padding: 15px;

    appearance: none;
    background: none;
    border: none;
    outline: none;

    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0px 0px 16px 16px;
    margin-top: 0px;

    box-shadow: 0px 5px black;

    color: black;
    font-size: 20px;

    transition: 0.4s ease;
}

.search-box .search-bar:focus{
    background-color: (255, 255, 255, 0.75);
}

.dropdown {
    width: 100%;

    background: none;
    outline: none;

    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0px 0px 16px 16px;
    margin-top: 0px;

    color: black;
    font-size: 20px;
}
  
.dropdown:empty {
    border: none;
    appearance: none;
}
  
.dropdown-row {
    cursor: pointer;
    text-align: start;
    margin: 2px 0;
    padding: 15px;
}

.date-box{
    color: #FFF;
    font-size: 20px;
    font-weight: 3000;
    font-style: italic;
    text-align: center;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.2);

}

.weather-box{
    text-align: center;
}

.weather-box .location {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #FFF;
    font-size:  32px;
    font-weight: 500;
    text-align: center;
    text-shadow: 3px 3px rgba(50, 50, 70, 0.5);

}

.temperature {
    padding: 5px;
}

.weather-box .temp:empty {
    padding: 0px;
}

.weather-box .temp {
    position: relative;
    display: inline-flex;
    margin: 30px auto;
    background-color:rgba(255, 255, 255, 0.5);
    border-radius: 16px;

    padding: 15px 25px;


    color: #FFF;
    font-size: 50px;
    font-weight: 900;


    text-shadow: 3px 6px rgba(50, 50, 70, 0.2);
    text-align: center;
    box-shadow: 3px 6px rgba(0, 0, 0, 0.2);

}

.weather-box .weather {
    color: #FFF;
    font-size: 48px;
    font-weight: 700;
    text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.weather-box .temp-max-min {
    color: #FFF;
    font-size: 20px;
    font-weight: 200;
    padding: 10px 5px 5px;
}

.weather-box .info {
    width: 35%;
    position: relative;
    display: inline-block;
    margin: 30px 15px 20px 15px;
    background-color:rgba(255, 255, 255, 0.5);
    border-radius: 16px;

    padding: 15px;

    color: #FFF;
    font-size: 20px;
    font-weight: 900;

    text-align: center;
    box-shadow: 3px 6px rgba(0, 0, 0, 0.2);

}

.weather-box .info img {
    width: 70px;
}

.error {
    position: relative;
    margin: 30px auto;

    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    color: #FFF;
    font-size: 30px;
    font-weight: 700;;
}
